.account {
  padding: 50px 0 150px;
  .container {
    display: flex;
    align-items: flex-start;
  }
  &-sidebar {
    width: 260px;
    background-color: $white;
    padding: 60px 16px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    &_pic {
      width: 100%;
      padding-bottom: 100%;
      position: relative;
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
      margin-bottom: 20px;
      > img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        top: 0;
        left: 0;
      }
    }
    &_nav {
      li {
        margin: 4px 0;
      }
      a {
        display: block;
        padding: 12px 24px;
        font-weight: 900;
        position: relative;
        z-index: 0;
        transition: $transition;
        &::before {
          position: absolute;
          width: 10px;
          content: "";
          height: 10px;
          background-image: url(../img/nav-list-decoration.svg);
          background-size: contain;
          background-position: center;
          background-repeat: no-repeat;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          transition: $transition;
          opacity: 0;
          z-index: 1;
        }
        &::after {
          position: absolute;
          content: "";
          width: calc(100% + 20px);
          height: 100%;
          background-color: $primary-400;
          top: 0;
          right: 20px;
          z-index: -1;
          opacity: 0;
          transition: $transition;
        }
        &:hover,
        &.active {
          color: $white;
          &::before,
          &::after {
            opacity: 1;
          }
        }
      }
    }
  }
  &-main {
    width: calc(100% - 260px);
    padding-left: 40px;
    &_title {
      padding-bottom: 16px;
      border-bottom: 1px solid $primary-300;
      display: flex;
      align-items: center;
      justify-content: space-between;
      h1 {
        color: $primary-900;
        font-size: 32px;
        font-weight: 900;
        margin: 0;
      }
      .btn {
        padding: 8px 20px;
      }
    }
    &_content {
      padding-top: 40px;
    }
  }
  &_form {
    max-width: 600px;
    width: 100%;
    .input-item {
      width: 100%;
      margin-bottom: 20px;
      label {
        width: 90px;
      }
      input {
        width: calc(100% - 90px);
      }
    }
    .btn {
      margin-top: 20px;
    }
  }
  @media screen and (max-width: 991px) {
    &-sidebar {
      display: none;
    }
    &-main {
      width: 100%;
      padding: 0;
      &_title {
        // flex-direction: column;
        // align-items: flex-start;
        // gap: 12px;
        h1 {
            font-size: 28px;
        }
        .btn {
            padding: 8px 12px;
            gap: 4px;
            &-text {
                font-size: 12px;
            }
            &-icon {
                font-size: 14px;
            }
        }
      }
    }
  }
}

.story-form {
  .form {
    &-item {
      margin-bottom: 40px;
      label {
        margin-bottom: 16px;
        color: $primary-900;
        font-weight: 700;
        font-size: 20px;
        display: block;
      }
      textarea,
      input,
      select {
        border: 1px solid $primary-500;
        width: 100%;
        height: 50px;
        padding: 0 12px;
      }
      textarea {
        height: 180px;
        padding: 12px;
      }
      &_title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 16px;
        label {
            margin: 0;
        }
        .btn {
            padding: 8px 16px;
        }
      }
      &_list {
        padding-left: 18px;
      }
      &_timerange {
        &_num {
          width: 30px;
          text-align: center;
          color: $dark-900;
          margin: 0;
          font-weight: 700;
        }
        &_item {
          display: flex;
          align-items: center;
          gap: 24px;
          width: 100%;
          margin-bottom: 20px;
        }
        &_content {
          display: flex;
          align-items: center;
          width: calc(100% - 52px - 24px);
          gap: 12px;
        }
        &_detail {
          display: flex;
          align-items: center;
          gap: 12px;
          width: calc(50% - 21px);
          label {
            white-space: nowrap;
            color: $dark-500;
            font-size: 14px;
            font-weight: 700;
            margin: 0;
          }
        }
      }
    }
    &_pic {
      width: 300px;
      height: 300px;
    }
    &_video {
        width: 340px;
        padding-bottom: calc(340px * 0.5625);
    }
    &_media {
      position: relative;
      background-color: $primary-100;
      > img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        top: 0;
        left: 0;
      }
      &_upload {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        input {
          position: absolute;
          width: 100%;
          height: 100%;
          opacity: 0;
        }
        span {
          font-size: 20px;
        }
        p {
          font-size: 16px;
          font-weight: 700;
          margin: 0;
        }
      }
      &.uploaded {
        .form_media_upload {
          padding: 8px 18px;
          right: 16px;
          bottom: 16px;
          border-radius: 100px;
          background-color: $primary-500;
          span {
            &::before {
              color: $white;
            }
          }
          p {
            color: $white;
          }
          &:hover {
            background-color: $primary-800;
          }
        }
      }
      &.empty {
        .form_media_upload {
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          span {
            &::before {
              color: $primary-500;
            }
          }
          p {
            color: $primary-500;
          }
        }
      }
    }
  }
  &_deceased {
    display: flex;
    gap: 60px;
    .deceased {
        &-pic {
            width: 300px;
        }
        &-info {
            width: calc(100% - 360px);
            .row {
                margin-left: -10px;
                margin-right: -10px;
                >div {
                    padding-left: 10px;
                    padding-right: 10px;
                    .form-item {
                        margin-bottom: 20px;
                    }
                }
            }
        }
    }
  }
  @media screen and (max-width: 991px) {
    .form-item {
        margin-bottom: 20px;
        &_timerange {
            &_item {
                gap: 12px;
                align-items: flex-start;
            }
            &_content {
                justify-content: flex-end;
                flex-wrap: wrap;
                gap: 8px;
                width: calc(100% - 40px - 12px);
            }
            &_detail {
                flex-wrap: wrap;
                gap: 4px;
                width: calc(100% - 30px - 8px);
                label {
                    width: 100%;
                }
                span {
                    display: block;
                    width: 12px;
                    text-align: center;
                }
                select {
                    width: calc((100% - 12px - 8px) / 2);
                }
            }
            &_num {
                padding-top: 18px;
            }
            .btn-alert {
                font-size: 12px;
                width: 40px;
                margin-top: 34px;
            }
        }
    }
    &_deceased {
        flex-direction: column;
        gap: 0;
        .deceased {
            &-pic {
                width: 100%;
            }
            &-info {
                width: 100%;
            }
        }
    }
  }
  @media screen and (max-width: 767px) {
    .form {
        &_pic {
            width: 100%;
            height: 0;
            padding-bottom: 100%;
        }
    }
  }
}

.shopping-record {
    &_item {
        background-color: $white;
        padding: 30px 20px;
        box-shadow: 0 4px 15px rgba(0,0,0,0.15);
        margin-bottom: 40px;
    }
    &_head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
    }
    &_date {
        color: $primary-800;
        font-family: $font-titillium;
        font-weight: 700;
        margin: 0;
        font-size: 20px;
    }
    &_store {
        color: $dark-400;
        font-weight: 700;
        margin: 0;
    }
    &_type {
        margin-bottom: 20px;
        .row {
            margin-left: -20px;
            margin-right: -20px;
            >div {
                padding-left: 20px;
                padding-right: 20px;
            }
        }
        .product-num {
            margin: 0;
            font-family: $font-titillium;
            font-weight: 700;
            color: $primary-600;
        }
    }
    &_info {
        margin-top: 20px;
        padding: 18px 24px;
        background-color: #F6F6F6;
        .row {
            margin-left: -20px;
            margin-right: -20px;
            >div {
                padding-left: 20px;
                padding-right: 20px;
            }
        }
        &_item {
            display: flex;
            gap: 18px;
            padding: 6px 0;
            h3 {
                width: 60px;
                margin: 0;
                color: $dark-400;
                font-weight: 900;
                font-size: 14px;
                padding-top: 4px;
            }
            p {
                width: calc(100% - 60px - 18px);
                margin: 0;
                font-size: 14px;
                font-weight: 700;                
            }
        }
    }
    @media screen and (max-width: 991px) {
        .purchase-sidebar_item {
            margin-bottom: 16px !important;
        }
    }
}

.manage-table {
    margin-bottom: 40px;
    table {
        width: 100%;
    }
    th {
      padding: 12px;
        background-color: $primary-100;
        font-weight: 700;
        color: $primary-900;
        border-top: 1px solid $primary-300;
        border-bottom: 1px solid $primary-300;
      &:first-child {
        padding-left: 20px;
        border-left: 1px solid $primary-300;
      }  
      &:last-child {
        padding-right: 20px;
        border-right: 1px solid $primary-300;
      }
    }
    td {
        padding: 20px;
        border-bottom: 1px solid $dark-100;
        color: $text;
        font-weight: 700;
    }
    &_func {
        display: flex;
        gap: 16px;
        .btn {
            padding: 6px 12px;
            font-size: 14px;
            width: auto;
            height: auto;
        }
    }
    &_name {
        width: calc(100% - 200px);
    }
    &_btns {
        width: 200px;
    }
}
