.contact {
    max-width: 870px;
    padding: 100px 20px 150px;
    margin: 0 auto;
    .row {
        margin-left: -15px;
        margin-right: -15px;
        >div {
            padding-left: 15px;
            padding-right: 15px;
        }
    }
    .input-item {
        width: 100%;
        margin-bottom: 30px;
        label {
            width: 90px;
        }
        input {
            width: calc(100% - 90px);
        }
    }
}