@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Noto+Serif+TC:wght@200..900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

$text: #333333;
$white: #fff;
$brown: #CA9969;
$brown-2: #9C5C1C;
$primary-50:#FFFAF6;
$primary-100:#FFF1E3;
$primary-200:#FDDFC1;
$primary-300:#E5C099;
$primary-400:$brown;
$primary-500:#B47D46;
$primary-600:#9E6023;
$primary-700:#85490D;
$primary-800:#763B00;
$primary-900:#4A2500;
$dark-50:#F0F0F0;
$dark-100:#DEDEDE;
$dark-200:#C5C5C5;
$dark-300:#ADADAD;
$dark-400:#919191;
$dark-500:#707070;
$dark-600:#515151;
$dark-700:$text;
$dark-800:#202020;
$dark-900:#000000;
$red: #DA0000;
$transition: 0.3s;
$body-md: 16px;
$body-lg: 18px;
$serif-md: 700 16px "noto serif TC";
$num-md: 700 20px "Titillium Web", sans-serif;
$body-bold-lg: 700 18px "noto serif TC";
$shadow-common: 0 4px 15px rgba(0,0,0,0.15);
$font-sans: "noto sans TC";
$font-serif: "noto serif TC";
$font-titillium: "Titillium Web", sans-serif;

$header-height: 90px;
$header-height-mobile: 70px;
$nav-top-mobile: calc(100vh - 70px);

$banner-ratio: 40%;
$banner-ratio-mobile: 80%;
$banner-inner-ratio: 28%;
$banner-inner-ratio-mobile: 80%;

body {
    color: $text;
    background-image: url(../img/bg.png);
    background-size: 100%;
    background-position: 0 0;
    background-repeat: repeat;
    font-family: $font-serif;
    color: $text;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"] {
  -moz-appearance: textfield;
}

input, select, textarea, button {
    outline: none;
    border: 0;
    border-radius: 0;
    background-color: transparent;
}

button {
    transition: $transition;
}

select {
  appearance: none;
  background-image: url(../img/select-arrow.svg);
  background-size: 18px;
  background-position: calc(100% - 14px) center;
  background-repeat: no-repeat;
}

main {
    overflow: hidden;
    padding-top: $header-height;
    min-height: calc(100vh - 61px);
    @media screen and (max-width: 767px) {
        padding-top: $header-height-mobile;
    }
}

.container {
    padding-left: 20px;
    padding-right: 20px;
}

.datepicker {
    background-image: url(../img/calendar.svg);
  background-size: 24px;
  background-position: calc(100% - 14px) center;
  background-repeat: no-repeat;
}

img {
    display: block;
    max-width: 100%;
}

a {
    text-decoration: none;
    color: $text;
    display: block;
    transition: $transition;
    cursor: pointer;
    &:hover {
        text-decoration: none;
        color: $primary-600;
    }
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.btn {
  border: 1px solid $primary-400;
  padding: 8px 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  border-radius: 0;
  &-text {
    font-size: 16px;
    font-family: $font-serif;
    font-weight: 700;
    transition: $transition;
    margin: 0;
  }
  &-icon {
    font-size: 16px;
    &::before {
      transition: $transition;
    }
  }
  &-border {
    background-color: transparent;
    color: $primary-400;
    font-family: $font-serif;
    font-weight: 700;
    width: fit-content;
    .btn {
      &-text {
        color: $primary-400;
        font-family: $font-serif;
        font-weight: 700;
      }
      &-icon {
        &::before {
          color: $primary-600;
        }
      }
    }
    &:hover {
      border-color: $primary-700;
      color: $primary-700;
      .btn {
        &-text {
          color: $primary-700;
        }
        &-icon {
          &::before {
            color: $primary-700;
          }
        }
      }
    }
  }
  &-border-onlyicon {
    width: 40px;
    height: 40px;
    border: 1px solid $brown-2;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    .btn-icon {
      font-size: 32px;
      color: $brown-2;
    }
    &:hover {
      background-color: $brown-2;
      .btn-icon {
        &::before {
          color: $white;
        }
      }
    }
  }
  &-fill {
    background-color: $primary-400;
    color: $white;
    font-family: $font-serif;
    font-weight: 700;
    width: fit-content;
    .btn {
      &-text {
        color: $white;
        font-family: $font-serif;
        font-weight: 700;
      }
      &-icon {
        &::before {
          color: $white;
        }
      }
    }
    &:hover {
      background-color: $primary-700;
      color: $white;
      border-color: $primary-700;
    }
  }
  &-fill-light {
    padding: 8px 36px;
    background-color: $primary-200;
    border-color: $primary-200;
    .btn {
      &-icon {
        &::before {
          color: $primary-700;
        }
      }
      &-text {
        color: $primary-700;
      }
    }
    &:hover {
      background-color: $primary-500;
      border-color: $primary-500;
      .btn {
      &-icon {
        &::before {
          color: $white;
        }
      }
      &-text {
        color: $white;
      }
    }
    }
  }
  &-alert {
    width: 52px;
    height: 32px;
    border-color: $red;
    color: $red;
    font-size: 14px;
    font-weight: 700;
    padding: 0;
    &:hover {
      background-color: $red;
      color: $white;
    }
  }
  &-file {
    position: relative;
    input {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0;
    }
  }
}

.title {
    font-size: 46px;
    font-weight: 900;
    margin-bottom: 36px;
    text-align: center;
    font-family: $font-serif;
    color: $brown-2;
    &-inner {
        font-size: 40px;
        font-weight: 900;
        color: $primary-900;
        margin: 0;
    }
    @media screen and (max-width: 991px) {
        font-size: 36px;
    }
}

.text {
    font-size: 16px;
    font-family: $font-serif;
}

.input-item {
    display: flex;
    height: 45px;
    margin-bottom: 20px;
    >label {
        padding: 8px;
        background-color: $primary-500;
        color: $white;
        font-family: $font-serif;
        font-weight: 900;
        text-align: center;
        display: block;
        height: 100%;
        letter-spacing: 0.05em;
        border: 1px solid $primary-500;
        &.bg-transparent {
            border: 0;
            color: $text;

        }
    }
    >input {
        height: 100%;
        padding: 0 10px;
        border: 1px solid $primary-500;
    }
    >textarea {
        border: 1px solid $primary-500;
        padding: 10px;
        height: 180px;
    }
    &.radio {
        .radio {
            &-main {
                display: flex;
                align-items: center;
                gap: 28px;
                padding: 8px 20px;
            }
            &-item {
                gap: 8px;
                display: flex;
                align-items: center;
                padding-bottom: 4px;
                >input {
                    width: 16px;
                    height: 16px;
                    position: relative;
                    &::before {
                        position: absolute;
                        content: "";
                        width: 100%;
                        height: 100%;
                        border: 1px solid $primary-500;
                        top: 0;
                        left: 0;
                        border-radius: 50%;
                    }
                    &::after {
                        position: absolute;
                        content: "";
                        width: 60%;
                        height: 60%;
                        background-color: $primary-500;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        border-radius: 50%;
                        opacity: 0;
                    }
                    &:checked {
                        &::after {
                            opacity: 1;
                        }
                    }
                }
                >label {
                    font-size: 16px;
                    font-family: $font-serif;
                    font-weight: 900;
                }
            }
        }
    }
    &.textarea {
        flex-direction: column;
        height: auto;
    }
}

.header {
    height: $header-height;
    background-color: $white;
    z-index: 100;
    position: fixed;
    width: 100%;
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
    }
    &__main {
        display: flex;
        align-items: center;
        gap: 50px;
        height: 100%;
    }
    &__logo {
        width: 125px;
    }
    &__nav {
        ul {
            display: flex;
            align-items: center;
            gap: 30px;
            a {
                font: $serif-md;
                position: relative;
                &::after {
                    position: absolute;
                    content: "";
                    width: 1px;
                    background-color: $primary-600;
                    top: calc(100% + 12px);
                    left: 50%;
                    transition: $transition;
                    height: 0;
                }
                &.active, &:hover {
                    color: $primary-600;
                    &::after {
                        height: 46px;
                    }
                }
            }
            &.header-nav-account {
                padding-top: 24px;
                margin-top: 24px;
                border-top: 1px solid $primary-200;
            }
        }
    }
    &__btn {
        padding: 8px 45px;
        background-color: $primary-400;
        color: $white;
        font-size: 16px;
        font-family: $font-serif;
        font-weight: 700;
        &:hover {
            background-color: $primary-600;
            color: $white;
        }
    }
    &__func {
        display: flex;
        align-items: center;
        gap: 28px;
    }
    &__menu {
        width: 30px;
        height: 30px;
        position: relative;
        .bar {
            position: absolute;
            width: 95%;
            height: 1px;
            background-color: $primary-600;
            transition: $transition;
            left: 50%;
            transform: translateX(-50%);
            &-top {
                top: 4px;
            }
            &-middle {
                top: calc(50% - 0.5px);
            }
            &-bottom {
                top: calc(100% - 5px);
            }
        }
        &.active {
            .bar {
                top: 50%;
                left: 50%;
                &-top, &-middle {
                    transform: translate(-50%, -50%) rotate(-45deg);
                }
                &-bottom {
                     transform: translate(-50%, -50%) rotate(45deg);
                }
            }
        }
    }
    &__account {
        display: flex;
        align-items: center;
        gap: 12px;
        .header-account {
            &-pic {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            position: relative;
            overflow: hidden;
            >img {
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
                top: 0;
                left: 0;
            }
            }
            &-name {
                margin: 0;
                font-weight: 700;
            }
        }
    }
    @media screen and (max-width: 1199px) {
        .container {
            max-width: inherit;
        }
    }
    @media screen and (max-width: 991px) {
        height: $header-height-mobile;
        &__nav {
            position: fixed;
            background-color: $white;
            height: $nav-top-mobile;
            top: $header-height-mobile;
            right: 0;
            max-width: 400px;
            width: 100%;
            transition: $transition;
            right: -450px;
            overflow-y: auto;
            padding: 20px 0;
            ul {
                display: block;
                a {
                    padding: 12px 40px;
                    &::after {
                        width: 0;
                        height: 1px;
                        top: 50%;
                        left: -40px;
                    }
                    &.active, &:hover {
                        &::after {
                            width: 60px;
                            height: 1px;
                        }
                    }
                }
            }
            &.active {
                right: 0;
            }
        }
        &__account {
            .header-account {
                &-pic {
                    width: 40px;
                    height: 40px;
                }
                &-name {
                    display: none;
                }
            }
        }
    }
    @media screen and (max-width: 575px) {
        &__logo {
            width: 110px;
        }
        &__btn {
            padding: 8px 20px;
        }
    }
}

.footer {
    padding: 20px;
    background-color: $primary-400;
    p {
        text-align: center;
        margin: 0;
        color: $white;
        font-size: 14px;
    }
}

.banner-inner {
    position: relative;
    width: 100%;
    padding-bottom: $banner-inner-ratio;
    &__pic {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        top: 0;
        left: 0;
    }
    &__text {
        position: absolute;
        width: 100%;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        color: $white;
        z-index: 2;
    }
    &__title {
        font-size: 42px;
        font-family: $font-serif;
        font-weight: 900;
        text-shadow: 0 2px 3px rgba(0,0,0,0.3);
        margin-bottom: 10px;
    }
    &__en {
        font-size: 18px;
        font-family: $font-titillium;
        text-shadow: 0 2px 3px rgba(0,0,0,0.3);
        margin-bottom: 0;
    }
    &::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        background: linear-gradient(to right, rgba(0,0,0,0.8) 0%, transparent 100%);
        top: 0;
        left: 0;
        z-index: 1;
    }
    @media screen and (max-width: 991px) {
        padding-bottom: $banner-ratio-mobile;
    }
    @media screen and (max-width: 575px) {
        &__title {
            font-size: 36px;
        }
        &__description {
            font-size: 16px;
        }
    }
}

.pagination {
    margin: 30px auto 0;
    display: flex;
    gap: 10px;
    width: fit-content;
    border-top: 1px solid $primary-400;
    border-bottom: 1px solid $primary-400;
    a {
        width: 40px;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        font-family: $font-serif;
        font-weight: 700;
        color: $primary-600;
        &.active {
            background-color: $primary-400;
            color: $white;
        }
        &:hover {
            opacity: 0.6;
        }
    }
    >ul {
        display: flex;
    }
    &_arrow {
        span {
            font-size: 16px;
            &::before {
                color: $primary-600;
            }
        }
    }
}

.nav {
  gap: 32px;
  &-link {
    padding: 0 0 6px;
    border-radius: 0;
    font-family: $font-serif;
    font-weight: 900;
    color: $text !important;
    font-size: 18px;
    border-bottom: 2px solid transparent;
    &.active {
      background-color: transparent !important;
      color: $primary-600 !important;
      border-color: $primary-600;
    }
  }
  @media screen and (max-width: 575px) {
    width: 100%;
    overflow-x: auto;
    flex-wrap: nowrap;
    gap: 16px;
    margin-bottom: 20px;
    &-link {
      white-space: nowrap;
      font-size: 16px;
    }
  }
}

.popup {
    position: fixed;
    width: 400px;
    background-color: $white;
    padding: 24px;
    box-shadow: 0 5px 25px rgba(0,0,0,0.15);
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    z-index: 5;
    p {
        margin: 0;
        text-align: center;
    }
}

.modal {
  &-content {
    border: 0;
    border-radius: 0;
  }
  &-header {
    border: 0;
    padding: 15px;
    display: flex;
    justify-content: flex-end;
    .btn-close {
      padding: 0;
      width: 24px;
      height: 24px;
      span {
        font-size: 24px;
      }
    }
  }
  &-body {
    padding: 0 40px 40px;
  }
  &-dialog {
    margin-top: 100px;
  }
  @media screen and (max-width: 767px) {
    &-body {
      padding: 0 15px 40px;
    }
  }
}

.inner-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
    padding-top: 70px;
    &_btns {
        display: flex;
        gap: 20px;
        .btn {
            padding: 8px 15px;
            &-icon {
                &::before {
                    color: $primary-400;
                }
            }
        }
    }
    @media screen and (max-width: 767px) {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    &_btns {
        gap: 12px;
        justify-content: flex-end;
        width: 100%;
        .btn {
            padding: 8px;
            gap: 4px;
            &-text {
                font-size: 14px;
            }
        }
    }
    }
}