.banner {
    position: relative;
    width: 100%;
    padding-bottom: $banner-ratio;
    &__pic {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        top: 0;
        left: 0;
    }
    &__text {
        position: absolute;
        top: 6vw;
        left: 50%;
        transform: translateX(-50%);
        max-width: 420px;
        padding: 0 20px;
        text-align: center;
        color: $white;
        .btn {
            margin: 0 auto;
            padding: 12px 45px;
            width: fit-content;
        }
    }
    &__title {
        font-size: 72px;
        font-family: $font-serif;
        font-weight: 700;
        text-shadow: 0 2px 3px rgba(0,0,0,0.3);
        margin-bottom: 24px;
    }
    &__description {
        font-size: 20px;
        font-family: $font-sans;
        text-shadow: 0 2px 3px rgba(0,0,0,0.3);
        margin-bottom: 24px;
    }
    @media screen and (max-width: 991px) {
        padding-bottom: $banner-ratio-mobile;
        &__text {
            top: 12vw;
            width: 100%;
        }
    }
    @media screen and (max-width: 575px) {
        &__text {
            .btn {
                padding: 8px 20px;
            }
        }
        &__title {
            font-size: 40px;
        }
        &__description {
            font-size: 16px;
        }
    }
}

.news {
    // padding-bottom: 64px;
    &__wrapper {
        background-color: $white;
        box-shadow: 0 4px 20px rgba(0,0,0,0.1);
        padding: 40px;
        display: flex;
        transform: translateY(-64px);
    }
    &__text {
        width: 250px;
        display: flex;
        flex-direction: column;
        align-content: space-between;
        justify-content: space-between;
        padding: 16px 60px 16px 0;
        border-right: 1px solid #A8A8A8;
        .btn {
            width: fit-content;
            margin: 0 auto;
            padding: 8px 45px;
        }
    }
    &__title {
        font-size: 46px;
        font-family: $font-serif;
        font-weight: 900;
        color: $brown-2;
        margin: 0;
    }
    &__list {
        width: calc(100% - 250px);
        padding: 16px 0 16px 60px;
    }
    &-item {
        margin-bottom: 22px;
        display: flex;
        align-items: center;
        gap: 20px;
        &__date {
            padding: 5px 12px;
            margin: 0;
            background-color: $primary-400;
            color: $white;
            font-family: $font-titillium;
            font-weight: 500;
        }
        &__title {
            margin: 0;
            font: $serif-md;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            overflow: hidden;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
    @media screen and (max-width: 991px) {
        &__wrapper {
            flex-direction: column;
        }
        &__text {
            width: 100%;
            flex-direction: row;
            padding: 0 0 24px;
            border-right: 0;
            border-bottom: 1px solid #A8A8A8;
            .btn {
                margin: 0;
                padding: 0;
                border: 0;
            }
        }
        &__title {
            font-size: 32px;
        }
        &__list {
            width: 100%;
            padding: 24px 0 0;
        }
    }
     @media screen and (max-width: 991px) {
        &__wrapper {
            padding: 24px;
        }
        &-item {
            gap: 12px;
            &__date {
                font-size: 14px;
            }
        }
     }
}