.banner {
  position: relative;
  width: 100%;
  padding-bottom: $banner-ratio;
  &__pic {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
  }
  &__text {
    position: absolute;
    top: 6vw;
    left: 50%;
    transform: translateX(-50%);
    max-width: 420px;
    padding: 0 20px;
    text-align: center;
    color: $white;
    .btn {
      margin: 0 auto;
      padding: 12px 45px;
      width: fit-content;
    }
  }
  &__title {
    font-size: 72px;
    font-family: $font-serif;
    font-weight: 700;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
    margin-bottom: 24px;
  }
  &__description {
    font-size: 20px;
    font-family: $font-sans;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
    margin-bottom: 24px;
  }
  @media screen and (max-width: 991px) {
    padding-bottom: $banner-ratio-mobile;
    &__text {
      top: 12vw;
      width: 100%;
    }
  }
  @media screen and (max-width: 575px) {
    &__text {
      .btn {
        padding: 8px 20px;
      }
    }
    &__title {
      font-size: 40px;
    }
    &__description {
      font-size: 16px;
    }
  }
}

.news {
  &__wrapper {
    background-color: $white;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    padding: 40px;
    display: flex;
    transform: translateY(-64px);
  }
  &__text {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
    padding: 16px 60px 16px 0;
    border-right: 1px solid #a8a8a8;
    .btn {
      width: fit-content;
      margin: 0 auto;
      padding: 8px 45px;
    }
  }
  &__title {
    font-size: 46px;
    font-family: $font-serif;
    font-weight: 900;
    color: $brown-2;
    margin: 0;
  }
  &__list {
    width: calc(100% - 250px);
    padding: 16px 0 16px 60px;
  }
  &-item {
    margin-bottom: 22px;
    display: flex;
    align-items: center;
    gap: 20px;
    &__date {
      padding: 5px 12px;
      margin: 0;
      background-color: $primary-400;
      color: $white;
      font-family: $font-titillium;
      font-weight: 500;
    }
    &__title {
      margin: 0;
      font: $serif-md;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
      overflow: hidden;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  @media screen and (max-width: 991px) {
    &__wrapper {
      flex-direction: column;
    }
    &__text {
      width: 100%;
      flex-direction: row;
      padding: 0 0 24px;
      border-right: 0;
      border-bottom: 1px solid #a8a8a8;
      .btn {
        margin: 0;
        padding: 0;
        border: 0;
      }
    }
    &__title {
      font-size: 32px;
    }
    &__list {
      width: 100%;
      padding: 24px 0 0;
    }
  }
  @media screen and (max-width: 991px) {
    &__wrapper {
      padding: 24px;
    }
    &-item {
      gap: 12px;
      &__date {
        font-size: 14px;
      }
    }
  }
}

.cards {
  padding: 80px 0 100px;
  background-color: $brown-2;
  .title {
    color: $white;
  }
  .row {
    margin-left: -15px;
    margin-right: -15px;
    > div {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  &_item {
    background-color: $white;
    padding: 15px 15px 30px;
  }
  &_pic {
    width: 100%;
    padding-bottom: 68%;
    position: relative;
    margin-bottom: 20px;
    > img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      top: 0;
      left: 0;
    }
  }
  &_title {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    font-family: $font-serif;
    margin-bottom: 12px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
  }
  &_description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-align: center;
    font-size: 14px;
    margin-bottom: 30px;
    font-family: $font-serif;
  }
  &_link {
    display: block;
    width: fit-content;
    margin: 0 auto;
    font-size: 14px;
    color: $primary-400;
    font-weight: 700;
    font-family: $font-serif;
  }
  @media screen and (max-width: 991px) {
    &_item {
      margin-bottom: 30px;
    }
  }
  @media screen and (max-width: 767px) {
    &_item {
      margin-bottom: 16px;
      padding: 8px 8px 16px;
    }
    &_pic {
      margin-bottom: 16px;
    }
    &_title {
      font-size: 18px;
      -webkit-line-clamp: 2;
    }
    &_description,
    &_link {
      font-size: 12px;
    }
    .row {
      margin-left: -8px;
      margin-right: -8px;
      > div {
        padding-left: 8px;
        padding-right: 8px;
      }
    }
  }
}

.tab-slider {
  padding: 100px 0;
  background-color: rgba(247, 236, 225, 0.7);
  &_func {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
    .nav {
      gap: 32px;
      &-link {
        padding: 0 0 6px;
        border-radius: 0;
        font-family: $font-serif;
        font-weight: 900;
        color: $text;
        font-size: 18px;
        border-bottom: 2px solid transparent;
        &.active {
          background-color: transparent;
          color: $primary-600;
          border-color: $primary-600;
        }
      }
    }
  }
  &_arrows {
    display: flex;
    gap: 20px;
  }
  .swiper-container {
    overflow: visible;
  }
  &_card {
    &_pic {
      position: relative;
      width: 100%;
      padding-bottom: 68%;
      overflow: hidden;
      > img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        top: 0;
        left: 0;
        transition: $transition;
      }
    }
    &_text {
      width: 80%;
      background-color: $white;
      padding: 15px 20px;
      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
      margin: 0 auto;
      text-align: center;
      transform: translateY(-24px);
      transition: $transition;
    }
    &_title {
      font-size: 16px;
      margin-bottom: 6px;
      font-family: $font-serif;
      font-weight: 900;
      transition: $transition;
    }
    &_price {
      font-family: $font-titillium;
      font-size: 20px;
      font-weight: 700;
      color: $primary-400;
      margin: 0;
      transition: $transition;
    }
    &:hover {
      .tab-slider_card {
        &_pic {
          > img {
            transform: scale(1.2);
          }
        }
        &_text {
          background-color: $primary-500;
          box-shadow: none;
        }
        &_title,
        &_price {
          color: $white;
        }
      }
    }
  }
  @media screen and (max-width: 575px) {
    &_func {
      display: block;
      margin-bottom: 20px;
      .nav {
        width: 100%;
        overflow-x: auto;
        flex-wrap: nowrap;
        gap: 16px;
        margin-bottom: 20px;
        &-link {
          white-space: nowrap;
          font-size: 16px;
        }
      }
    }
    &_arrows {
      width: 100%;
      justify-content: space-between;
      padding: 0 20px;
      left: 0;
      bottom: 0;
      position: absolute;
    }
    .container {
      position: relative;
      padding-bottom: 40px;
    }
  }
}

.pic-list {
  padding: 100px 0;
  text-align: center;
  .text {
    margin-bottom: 50px;
  }
  &_wrap {
    max-width: 800px;
    display: flex;
    align-items: center;
    margin: 0 auto;
  }
  &_pic {
    width: 55%;
    > img {
      width: 100%;
      mix-blend-mode: darken;
    }
  }
  &_list {
    width: 45%;
    padding-left: 28px;
    li {
      display: flex;
      margin-bottom: 20px;
      gap: 12px;
    }
    &_icon {
      font-size: 30px;
      &::before {
        color: $primary-600;
      }
    }
    &_text {
      font-size: 18px;
      font-family: $font-serif;
      margin: 0;
      padding-top: 1px;
      text-align: left;
    }
  }
  @media screen and (max-width: 991px) {
    .container {
      max-width: inherit;
    }
  }
  @media screen and (max-width: 767px) {
    &_wrap {
      flex-direction: column;
    }
    &_pic {
      width: 100%;
    }
    &_list {
      padding: 0;
      width: fit-content;
    }
  }
  @media screen and (max-width: 575px) {
    &_list {
      li {
        margin-bottom: 16px;
      }
      &_icon {
        font-size: 24px;
      }
      &_text {
        font-size: 16px;
      }
    }
  }
}

.gallery {
  overflow: hidden;
  .container {
    position: relative;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  &_item {
    height: fit-content;
  }
  &_tag {
    padding: 4px 10px;
    background-color: $primary-400;
    color: $white;
    font-size: 12px;
    font-family: $font-serif;
    font-weight: 700;
    width: fit-content;
    margin: 0;
  }
  &_main {
    background-color: $white;
    padding: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    width: 100%;
  }
  &_swiper {
    height: 700px;
  }
  &_title {
    text-align: center;
    font-family: $font-serif;
    color: $primary-600;
    letter-spacing: 0.4em;
    font-weight: 700;
    margin-bottom: 12px;
    transform: translateX(0.2em);
  }
  &_wrapper {
    width: fit-content;
    margin: 0 auto;
  }
  &_description {
    display: flex;
    align-items: center;
    padding: 0 0.25em;
    justify-content: center;
    gap: 12px;
  }
  &_action {
    display: flex;
    align-items: center;
    gap: 6px;
    > p {
      margin: 0;
      font-family: $font-serif;
      font-size: 14px;
      font-weight: 700;
    }
    &_line {
      width: 40px;
      height: 1px;
      background-color: $text;
    }
  }
  &_name {
    font-size: 16px;
    font-family: $font-serif;
    font-weight: 700;
    margin: 0;
  }
  &_overview {
    position: absolute;
    width: 300px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 0;
    left: 0;
    background-color: rgba(202, 153, 105, 0.9);
    backdrop-filter: blur(8px);
    z-index: 5;
    gap: 8px;
    &_num {
      color: $white;
      font-size: 120px;
      font-family: $font-titillium;
      font-weight: 700;
      text-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
      margin: 0;
    }
    &_text {
      text-align: center;
      font-size: 24px;
      font-family: $font-serif;
      font-weight: 700;
      text-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
      margin: 0;
      color: $white;
    }
  }
  @media screen and (max-width: 991px) {
    &_overview {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
      position: static;
      padding: 20px 28px;
      gap: 16px;
      width: 100%;
      margin-bottom: 40px;
      &_num {
        font-size: 80px;
      }
      &_text {
        font-size: 16px;
        padding-bottom: 12px;
      }
    }
  }
  @media screen and (max-width: 575px) {
    &_main {
      padding: 20px 12px;
    }
    &_title {
      letter-spacing: 0.1em;
      transform: none;
    }
    &_description {
      flex-direction: column;
      gap: 4px;
      justify-self: flex-start;
      padding: 0;
    }
  }
}
