.introduce {
    padding: 45px 20px 150px;
    max-width: 840px;
    margin: 0 auto;
    &_content {
        margin-bottom: 60px;
        p {
            font-family: $font-serif;
            margin: 0;
            line-height: 1.8;
            text-align: justify;
        }
    }
    &_btns {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        .btn {
            padding: 12px 45px;
        }
    }
    @media screen and (max-width: 575px) {
        &_btns {
            .btn {
                padding: 12px;
                width: calc(50% - 10px);
            }
        }
    }
}

.form {
  padding: 120px 20px 150px;
  max-width: 640px;
  margin: 0 auto;
  &_title {
    text-align: center;
    margin-bottom: 40px;
    font-family: $font-serif;
    font-weight: 900;
    color: $primary-900;
  }
  .input-item {
    width: 100%;
    > label {
      width: 90px;
    }
    > input {
      width: calc(100% - 90px);
    }
    .radio-main {
      width: calc(100% - 90px);
    }
    &.select-type {
      height: auto;
      display: block;
      > label {
        width: 100%;
        margin-bottom: 12px;
        text-align: left;
      }
      .row {
        margin-left: -15px;
        margin-right: -15px;
        > div {
          padding-left: 15px;
          padding-right: 15px;
        }
      }
      .select-type {
        &_item {
          position: relative;
          width: 100%;
          padding-bottom: 70%;
          &:not(.active) {
            &:hover {
              .select-type {
                &_mask {
                  opacity: 0;
                }
                &_text {
                  padding-left: 16px;
                  opacity: 1;
                }
                &_arrow {
                  opacity: 1;
                }
              }
            }
          }
          &.active {
            cursor: inherit;
            .select-type {
              &_mask {
                opacity: 0;
              }
              &_text {
                opacity: 1;
              }
            }
          }
        }
        &_pic {
          position: absolute;
          width: 100%;
          height: 100%;
          object-fit: cover;
          top: 0;
          left: 0;
        }
        &_mask {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          background-color: rgba(0, 0, 0, 0.63);
          transition: $transition;
        }
        &_text {
          position: absolute;
          width: 100%;
          padding: 16px;
          left: 0;
          bottom: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 12px;
          padding: 16px 16px 16px 52px;
          transition: $transition;
          opacity: 0.8;
          background: linear-gradient(
            to top,
            rgba(0, 0, 0, 0.7) 0%,
            transparent 100%
          );
        }
        &_name {
          font-size: 20px;
          font-weight: 900;
          color: $white;
          letter-spacing: 0.03em;
          font-family: $font-serif;
          margin: 0;
        }
        &_arrow {
          width: 24px;
          height: 24px;
          border-radius: 50%;
          border: 1px solid $white;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: $transition;
          opacity: 0;
          span {
            font-size: 12px;
            &::before {
              color: $white;
            }
          }
        }
      }
    }
  }
  &_btns {
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    .btn {
      padding: 12px 35px;
    }
  }
  @media screen and (max-width: 575px) {
    .input-item {
      &.select-type {
        .row {
          margin-left: -8px;
          margin-right: -8px;
          > div {
            padding-left: 8px;
            padding-right: 8px;
          }
        }
        .select-type {
          &_item {
            padding-bottom: 140%;
          }
          &_text {
            padding: 16px 8px;
          }
          &_arrow {
            display: none;
          }
        }
      }
    }
    &_btns {
    .btn {
      width: calc(50% - 10px);
    }
  }
  }
}

.step {
    padding: 50px 20px 110px;
    max-width: 840px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &_item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 54px;
        &.active {
            .step {
                &_icon {
                    background-color: $primary-500;
                    >span {
                        &::before {
                            color: $white;
                        }
                    }
                }
                &_text {
                    color: $primary-600;
                }
            }
        }
        &::after {
            position: absolute;
            content: "";
            width: calc((800px - 216px) / 3);
            height: 1px;
            background-color: $primary-400;
            left: 100%;
            top: 27px;
        }
        &:last-child {
            &::after {
                display: none;
            }
        }
    }
    &_icon {
        width: 54px;
        height: 54px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid $primary-500;
        >span {
            font-size: 26px;
            &::before {
                color: $primary-600;
            }
        }
    }
    &_text {
        position: absolute;
        white-space: nowrap;
        font-family: $font-serif;
        font-weight: 900;
        margin: 0;
        top: calc(100% + 8px);
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
    }
    @media screen and (max-width: 840px) {
        &_item {
            &::after {
                width: calc((100vw - 40px - 216px) / 3);
            }
        }
    }
    @media screen and (max-width: 575px) {
        &_text {
            font-size: 14px;
        }
    }
}

.product {
  padding: 80px 0 50px;
  .nav {
    margin-bottom: 40px;
  }
  .row {
    margin-left: -15px;
    margin-right: -15px;
    > div {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  &_item {
    margin-bottom: 50px;
  }
  &_pic {
    position: relative;
    width: 100%;
    padding-bottom: 68%;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    > img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      top: 0;
      left: 0;
      transition: $transition;
    }
  }
  .check-item {
    position: absolute;
    top: 8px;
    left: 8px;
  }
  &_btns {
    position: absolute;
    display: flex;
    gap: 10px;
    right: 12px;
    bottom: 12px;
    a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: $primary-400;
        box-shadow: 0 2px 4px rgba(0,0,0,0.25);
        >span {
            font-size: 14px;
            &::before {
                color: $white;
            }
        }
        &:hover {
            background-color: $primary-600;
        }
    }
  }
  &_text {
    width: 90%;
    margin: 0 auto;
    padding: 12px 20px 16px;
    border: 1px solid $primary-300;
    border-top: 0;
  }
  &_title {
    font-size: 20px;
    font-weight: 900;
    font-family: $font-serif;
    margin-bottom: 6px;
  }
  &_info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 6px;
  }
  &_price {
    font-size: 20px;
    font-family: $font-titillium;
    margin: 0;
    font-weight: 700;
    color: $primary-500;
  }
  &_buynum {
    display: flex;
    align-items: center;
    &_text {
        margin: 0;
        font-size: 12px;
        font-family: $font-serif;
        margin: 0;
    }
    &_num {
        padding-left: 10px;
        position: relative;
        font-family: $font-titillium;
        font-weight: 700;
        color: $primary-500;
        margin: 0 0 0 10px;
        &::before {
            position: absolute;
            content: "";
            width: 1px;
            height: 12px;
            background-color: $primary-400;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
        }
    }
  }
  &_price {
    &-detail {
      padding-bottom: 12px;
      border-bottom: 1px solid $primary-300;
      margin-bottom: 12px;
      &_item {
        padding: 2px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
        &_text {
          font-size: 12px;
          color: $dark-300;
          margin: 0;
          font-weight: 900;
        }
        &_num {
          font-size: 16px;
          color: $primary-600;
          font-weight: 700;
          font-family: $font-titillium;
          margin: 0;
        }
    }
  }
  @media screen and (max-width: 991px) {
    &_info {
      display: block;
    }
  }
}

.product-num {
    display: flex;
    align-items: center;
    button {
        width: 25px;
        height: 25px;
        border: 1px solid $primary-500;
        display: flex;
        align-items: center;
        justify-content: center;
        >span {
            font-size: 16px;
            &::before {
                color: $primary-600;
                transition: $transition;
            }
        }
        &:hover {
            background-color: $primary-500;
            >span {
                &::before {
                    color: $white;
                }
            }
        }
    }
    >p {
        margin: 0;
        width: 40px;
        text-align: center;
        font-family: $font-titillium;
        font-weight: 600;
    }
}

.product-detail {
  padding: 100px 0 150px;
    .container {
        >.row {
            margin-left: -25px;
            margin-right: -25px;
            >div {
                padding-left: 25px;
                padding-right: 25px;
            }
        }
    }
    &_pic {
        >img {
            width: 100%;
        }
    }
    &_title {
        color: $primary-900;
        font-weight: 900;
        font-size: 40px;
        margin-bottom: 30px;
    }
    .name-tag {
        margin-bottom: 30px;
    }
    &_order {
        padding: 15px 0;
        background-color: $white;
        box-shadow: 0 4px 15px rgba(0,0,0,0.1);
        margin-bottom: 20px;
        .row {
            margin: 0;
            >div {
                padding: 0 20px;
                position: relative;
                &::after {
                    position: absolute;
                    content: "";
                    width: 1px;
                    height: 36px;
                    background-color: $primary-300;
                    top: 50%;
                    right: 0;
                    transform: translateY(-50%);
                }
                &:last-child {
                    &::after {
                        display: none;
                    }
                }
            }
        }
        &_title {
            font-size: 14px;
            margin-bottom: 4px;
            font-weight: 700;
        }
        &_num {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        &_price {
            color: $primary-600;
            font-size: 20px;
            font-weight: 700;
            font-family: $font-titillium;
            margin: 0;
        }
        &_text {
            color: $dark-500;
            font-size: 12px;
            margin: 0;
            font-weight: 700;
        }
    }
    &_intro {
        margin-bottom: 30px;
        text-align: justify;
    }
    &_btns {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    @media screen and (max-width: 1199px) {
        &_order {
            padding: 0 20px;
            .row {
                >div {
                    border-bottom: 1px solid $primary-300;
                    padding: 20px 0;
                    &::after {
                        display: none;
                    }
                    &:last-child {
                        border: 0;
                    }
                }   
            }
        }
        &_btns {
            flex-direction: column;
            gap: 20px;
            align-items: flex-end;
        }
    }
    @media screen and (max-width: 991px) {
        &_text {
            padding-top: 40px;
        }
    }
}

#addcart-modal {
  .product-detail {
    padding: 0;
    >.row {
      margin-left: -20px;
      margin-right: -20px;
      >div {
        padding-left: 20px;
        padding-right: 20px;
      }
    }
    &_title {
      margin-bottom: 30px;
      font-size: 40px;
    }
    &_order {
      box-shadow: none;
      background-color: $primary-50;
      margin-bottom: 30px;
    }
    &_btns {
      justify-content: flex-end;
      .btn {
        padding: 12px 20px;
      }
    }
  }
}

.check-item {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 6px 12px;
    background-color: $white;
    border-radius: 100px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    width: fit-content;
    &_box {
        width: 16px;
        height: 16px;
        border-radius: 4px;
        border: 1px solid $primary-500;
        display: flex;
        align-items: center;
        justify-content: center;
        >img {
            width: 80%;
        }
    }
    &_text {
        font-size: 14px;
        font-weight: 700;
        font-family: $font-serif;
        margin: 0;
        transition: $transition;
    }
    &.active {
        background-color: $primary-700;
        box-shadow: none;
        .check-item {
            &_text {
                color: $white;
            }
        }
    }
}

.name-tag {
    display: flex;
    align-items: center;
    gap: 4px;
    &_pic {
        width: 16px;
        height: 16px;
        border-radius: 50%;
        position: relative;
        overflow: hidden;
        >img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            top: 0;
            left: 0;
        }
    }
    &_name {
        margin: 0;
        font-size: 12px;
        font-weight: 700;
        font-family: $font-serif;
    }

}

.purchase-sidebar {
    padding: 30px 20px;
    background-color: $white;
    box-shadow: 0 4px 15px rgba(0,0,0,0.15);
    margin-bottom: 30px;
    &-wrap {
        width: 300px;
    >.btn {
        width: 100%;
        box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    }
    }
    &_wrap {
        margin-bottom: 30px;
    }
    &_title {
        margin-bottom: 16px;
        padding: 6px 12px;
        background-color: $primary-100;
        font-family: $font-serif;
        font-weight: 900;
        color: $primary-900;
        font-size: 14px;
    }
    &_item {
        display: flex;
        align-items: center;
        margin-bottom: 16px;
        &:last-child {
            margin: 0;
        }
    }
    &_pic {
        width: 75px;
        padding-bottom: 75px;
        position: relative;
        >img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            top: 0;
            left: 0;
        }
    }
    &_delete {
        width: 16px;
        height: 16px;
        background-color: $white;
        border-radius: 50%;
        position: absolute;
        top: 4px;
        left: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid $primary-400;
        >span {
            font-size: 8px;
            &::before {
                color: $primary-600;
            }
        }
    }
    &_text {
        width: calc(100% - 75px);
        padding-left: 15px;
    }
    &_name {
        font-size: 18px;
        font-family: $font-serif;
        font-weight: 700;
        margin-bottom: 12px;
    }
    &_num {
        font-size: 16px;
        font-family: $font-titillium;
        font-weight: 700;
        margin: 0;
        color: $primary-600;
    }
    &_info {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &_total {
        display: flex;
        align-items: center;
        gap: 8px;
        justify-content: flex-end;
        margin-bottom: 28px;
        &_text {
            font-size: 18px;
            font-weight: 900;
            margin: 0;
        }
        &_price {
            margin-left: 8px;
            padding-left: 8px;
            position: relative;
            font-family: $font-titillium;
            font-weight: 700;
            color: $primary-600;
            margin: 0;
            font-size: 20px;
            &::before {
                position: absolute;
                content: "";
                width: 1px;
                height: 9px;
                background-color: $primary-400;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
            }
        }
    }
    &_price {
        padding-bottom: 20px;
        border-bottom: 1px solid $dark-100;
        margin-bottom: 20px;
        &_detail {
            margin-bottom: 15px;
            p {
                margin: 0;
                font-weight: 700;
            }
        }
        &_total {
            padding: 8px 15px;
            background-color: $primary-400;
            display: flex;
            align-items: center;
            justify-content: space-between;
            p {
                margin: 0;
                color: $white;
                font-weight: 700;
            }
        }
    }
    &_input {
        margin-bottom: 12px;
        label {
            color: $dark-500;
            font-size: 14px;
            font-weight: 700;
            margin-bottom: 8px;
            display: block;
        }
        .input, .select {
            width: 100%;
            height: 45px;
            border: 1px solid $primary-400;
            padding: 0 16px;
            font-weight: 700;
        }
        .select {
            appearance: none;
            background-image: url(../img/chevron-down.svg);
            background-size: 18px;
            background-position: calc(100% - 16px) center;
            background-repeat: no-repeat;
        }
        #datepicker {
            background-image: url(../img/calendar.svg);
            background-position: calc(100% - 15px) center;
            background-size: 20px;
            background-repeat: no-repeat;
        }
        .range {
            display: flex;
            align-items: center;
            justify-items: center;
            gap: 8px;
            p {
                margin: 0;
            }
        }
    }
    &_inner {
        padding: 16px;
        background-color: $primary-50;
        margin-bottom: 12px;
    }
    &_btns {
      .row {
        margin-left: -10px;
        margin-right: -10px;
        >div {
          padding-left: 10px;
          padding-right: 10px;
        }
      }
      .btn {
        padding-left: 0;
        padding-right: 0;
      }
    }
}

.price-detail_item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
    &:last-child {
        margin-bottom: 0;
    }
    &_title {
        font-size: 16px;
    }
    &_num {
        font-size: 20px;
        color: $primary-600;
        font-family: $font-titillium;
    }
}

.price-total {
    &_title {
        font-size: 16px;
    }
    &_num {
        font-size: 20px;
        font-family: $font-titillium;
    }
}

.sider-inner_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 16px;
    border-bottom: 1px solid $primary-200;
    margin-bottom: 16px;
    &_text {
        font-size: 14px;
        margin: 0;
        font-weight: 700;
    }
    button {
        display: flex;
        align-items: center;
        padding: 0;
        gap: 4px;
        >p {
            color: $primary-700;
            font-size: 14px;
            font-weight: 900;
            margin: 0;
            transition: $transition;
        }
        >span {
            color: $primary-600;
            font-size: 12px;
            transition: $transition;
        }
        &:hover {
            >p {
                color: $primary-400;
            }
            >span {
                color: $primary-400;
            }
        }
    }
}

.select-address {
    &_place {
    .purchase-sidebar_input {
        display: flex;
        align-items: center;
        gap: 8px;
        label {
            width: 60px;
        }
        .select {
            width: calc(100% - 60px - 8px);
        }
    }

    }
    &_customize {
        display: none;
        .twzipcode {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 12px;
            select {
                height: 45px;
            border: 1px solid $primary-400;
            padding: 0 16px;
            font-weight: 700;
            appearance: none;
            background-image: url(../img/chevron-down.svg);
            background-size: 18px;
            background-position: calc(100% - 16px) center;
            background-repeat: no-repeat;
            width: calc(50% - 8px);
            }
            input {
                display: none;
            }
        }
    }
}

.memory-product {
  padding-bottom: 150px;
  .nav {
    margin-bottom: 40px;
  }
  &_content {
    display: flex;
  }
  &_main {
    width: calc(100% - 300px);
    padding-right: 30px;
  }
  .pagination {
    margin: 0;
  }
  &_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px;
    h1 {
        margin: 0;
        color: $primary-900;
        font-weight: 900;
    }
    .btn {
        padding: 8px 20px;
    }
  }
  @media screen and (max-width: 991px) {
    .container {
      max-width: inherit;
    }
    &_content {
      flex-direction: column;
    }
    &_main {
      width: 100%;
      padding: 0 0 80px;
    }
    .purchase-sidebar-wrap {
      width: 100%;
    }
  }
}

.checkout-product {
    &_title {
        margin-bottom: 20px;
        width: fit-content;
        background-color: $primary-400;
        padding: 10px 15px;
        color: $white;
        font-weight: 700;
        font-size: 16px;
    }
    &_content {
        padding-bottom: 40px;
        margin-bottom: 40px;
        border-bottom: 1px solid $primary-300;
    }
    &_item {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &_pic {
        width: 100px;
        padding-bottom: 100px;
        position: relative;
        >img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            top: 0;
            left: 0;
        }
    }
    &_x {
        position: absolute;
        top: 4px;
        left: 4px;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background-color: $white;
        border: 1px solid $primary-400;
        display: flex;
        align-items: center;
        justify-content: center;
        span {
            font-size: 8px;
            &::before {
                color: $primary-800;
            }
        }
        &:hover {
            background-color: $primary-400;
            span {
                &::before {
                    color: $white;
                }
            }
        }
    }
    &_text {
        width: calc(100% - 100px);
        padding-left: 15px;
    }
    &_name {
        font-size: 20px;
        font-weight: 900;
        margin-bottom: 12px;
    }
    &_price {
        font-size: 20px;
        font-weight: 700;
        color: $primary-600;
        font-family: $font-titillium;
        margin: 0;
    }
}

.buy {
  padding-top: 85px;
}

.document {
    max-width: 800px;
    width: 100%;
    padding: 40px 0 150px;
    margin: 0 auto;
    &_item {
        width: 100%;
        margin-bottom: 40px;
    }
    &_main {
        width: 100%;
            padding-bottom: 60%;
            position: relative;
            box-shadow: 0 4px 20px rgba(0,0,0,0.1);
            margin-bottom: 24px;
        iframe {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
    &_btns {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 16px;
        .btn {
            padding: 8px 16px;
            &-icon {
                &::before {
                    color: $primary-400;
                }
            }
        }
    }
    @media screen and (max-width: 575px) {
        &_btns {
            .btn {
                width: calc((100% - 24px) / 3);
                padding: 8px;
                gap: 4px;
                &-text {
                    font-size: 14px;
                }
            }
        }
    }
}

.music {
    background-color: transparent;
    border: 0;
    >.row {
        margin-left: -15px;
        margin-right: -15px;
        >div {
            padding-left: 15px;
            padding-right: 15px;
        }
    }
    &-item {
        margin-bottom: 50px;
    }
    &_pic {
        position: relative;
        width: 100%;
        padding-bottom: 70%;
        box-shadow: 0 4px 15px rgba(0,0,0,0.2);
        margin-bottom: 15px;
        >img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            top: 0;
            left: 0;
        }
        .check-item {
            position: absolute;
            top: 8px;
            left: 8px;
        }
    }
    &_text {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 15px;
        gap: 8px;
    }
    &_title {
        font-size: 20px;
        font-weight: 900;
        margin: 0;
    }
    &_price {
        font-family: $font-titillium;
        color: $primary-500;
        font-weight: 700;
        margin: 0;
        font-size: 20px;
    }
    &_select {
        width: 100%;
        height: 40px;
        border: 1px solid $primary-400;
        padding: 0 12px;
        font-weight: 700;
        color: $dark-500;
        appearance: none;
        background-image: url(../img/arrow-block.svg);
        background-size: 40px;
        background-position: right center;
        background-repeat: no-repeat;
    }
    @media screen and (max-width: 575px) {
        &_title, &_price {
            font-size: 16px;
        }
    }
}

.video {
    .row {
        margin-left: -15px;
        margin-right: -15px;
        >div {
            padding-left: 15px;
            padding-right: 15px;
        }
    }
    &_item {
        position: relative;
        width: 100%;
        padding-bottom: 68%;
        box-shadow: 0 4px 20px rgba(0,0,0,0.15);
        margin-bottom: 30px;
        display: block;
        >video {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            top: 0;
            left: 0;
        }
        &::before {
            position: absolute;
            content: "";
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,0.5);
            top: 0;
            left: 0;
            transition: $transition;
        }
        &:hover {
            &::before {
                opacity: 0;
            }
            .video_btn {
                opacity: 0;
            }
        }
    }
    &_btn {
        position: absolute;
        width: 40px;
        height: 40px;
        border: 1px solid $white;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: $transition;
        img {
            width: 16px;
            transform: translateX(10%);
        }
    }
}

.share {
    padding: 80px 0;
    &_text {
        text-align: center;
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 40px;
    }
    .container {
        max-width: 470px;
    }
    .row {
        margin-left: -25px;
        margin-right: -25px;
        padding-bottom: 40px;
        >div {
            padding-left: 25px;
            padding-right: 25px;
        }
    }
    &_item {
        padding: 40px 12px;
        display: flex;
        flex-direction: column;
        gap: 12px;
        align-items: center;
        justify-content: center;
        border: 1px solid $primary-500;
        width: 100%;
        &_icon {
            font-size: 70px;
        }
        &_text {
            font-size: 20px;
            margin: 0;
            font-weight: 700;
            transition: $transition;
        }
        &:hover {
            background-color: $primary-400;
            border-color: $primary-400;
            .share_item {
                &_icon {
                    &::before {
                        color: $white;
                    }
                }
                &_text {
                    color: $white;
                }
            }
        }
    }
    @media screen and (max-width: 575px) {
        .row {
            margin-left: -10px;
            margin-right: -10px;
            >div {
                padding-left: 10px;
                padding-right: 10px;
            }
        }
        &_item {
            &_text {
                font-size: 18px;
            }
        }
    }
}