.story {
  padding: 100px 0 150px;
  .row {
    margin-left: -30px;
    margin-right: -30px;
    padding-bottom: 100px;
    > div {
      padding-left: 30px;
      padding-right: 30px;
      &:nth-child(3n + 1) {
        transform: translateY(38px);
      }
      &:nth-child(3n + 2) {
        transform: translateY(93px);
      }
    }
  }
  &-item {
    margin-bottom: 50px;
  }
  &_pic {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    > img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      top: 0;
      left: 0;
    }
  }
  &_text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 0;
    border-bottom: 1px solid $primary-300;
  }
  &_title {
    font-size: 22px;
    font-weight: 700;
    margin: 0;
  }
  &_time {
    font-family: $font-titillium;
    color: $dark-400;
    font-weight: 500;
    margin: 0;
    font-size: 14px;
  }
  @media screen and (max-width: 991px) {
    .row {
      margin-left: -10px;
      margin-right: -10px;
      padding-bottom: 0px;
      > div {
        padding-left: 10px;
        padding-right: 10px;
        transform: none !important;
      }
    }
    &_text {
      flex-direction: column;
      gap: 8px;
      align-items: flex-start;
    }
    &_time {
      font-size: 12px;
    }
    &-item {
      margin-bottom: 30px;
    }
  }
}

.profile {
    padding-bottom: 150px;
  &_banner {
    width: 100%;
    padding-bottom: 24%;
    position: relative;
    > img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      top: 0;
      left: 0;
    }
  }
  .container {
    max-width: 840px;
  }
  &_head {
    display: flex;
    align-items: flex-end;
    margin-top: -100px;
    &_pic {
      width: 300px;
      height: 300px;
      position: relative;
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
      > img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        top: 0;
        left: 0;
      }
    }
    &_text {
      width: calc(100% - 300px);
      padding-bottom: 50px;
    }
  }
  &_name {
    padding: 0 60px 16px 40px;
    border-bottom: 1px solid $primary-300;
    margin: 0;
    font-size: 30px;
    font-weight: 700;
    color: $primary-800;
  }
  &_info {
    padding: 16px 60px 0 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 12px 45px;
    &_item {
      display: flex;
      align-items: center;
      gap: 12px;
      > span {
        font-size: 24px;
        &::before {
          color: $primary-400;
        }
      }
      > p {
        font-family: "Titillium Web", "noto serif TC";
        margin: 0;
        font-size: 18px;
        font-weight: 700;
      }
    }
  }
  &_section {
    padding: 40px 0;
    &_title {
        display: flex;
        align-items: center;
        gap: 20px;
        margin-bottom: 20px;
        h2 {
            color: $primary-900;
            font-size: 32px;
            font-weight: 700;
            margin: 0;
            white-space: nowrap;
        }
    }
        &_line {
            width: 100%;
            height: 1px;
            background-color: $primary-300;
        }
        &_text {
            margin: 0;
            font-weight: 700;
            line-height: 2;
        }
  }
  @media screen and (max-width: 991px) {
    &_head {
      margin-top: -40px;
      &_pic {
        width: 200px;
        height: 200px;
      }
      &_text {
        width: calc(100% - 200px);
        padding-bottom: 20px;
      }
    }
    &_name {
      padding-left: 20px;
      padding-right: 32px;
    }
    &_info {
      padding-left: 20px;
      padding-right: 32px;
    }
    &_info {
      &_item {
        > span {
          font-size: 18px;
        }
        > p {
          font-size: 14px;
        }
      }
    }
  }
  @media screen and (max-width: 575px) {
    &_head {
      margin-top: 0;
      padding-top: 20px;
      align-items: flex-start;
      &_pic {
        width: 80px;
        height: 80px;
      }
      &_text {
        width: calc(100% - 80px);
        padding-bottom: 0;
      }
    }
    &_name {
      padding-bottom: 8px;
      font-size: 24px;
    }
    &_info {
      padding-top: 8px;
    }
  }
}

.testimonial {
  display: flex;
  gap: 36px;
  &_icon {
    display: flex;
    span {
      font-size: 40px;
    }
  }
  > p {
    padding: 32px 0;
    margin: 0;
    font-weight: 700;
    color: $dark-900;
    font-size: 20px;
  }
  @media screen and (max-width: 575px) {
    gap: 20px;
    &_icon {
      span {
        font-size: 32px;
      }
    }
    > p {
      font-size: 18px;
    }
  }
}

.list {
    li {
        padding-left: 25px;
        margin-bottom: 12px;
        position: relative;
        font-weight: 700;
        &::before {
            position: absolute;
            content: "";
            width: 13px;
            height: 13px;
            background-image: url(../img/list-decoration.svg);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            left: 0;
            top: 6px;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.memory-wall {
    &_item {
        width: 25%;
        padding: 2px;
        >img {
            width: 100%;
        }
    }
    @media screen and (max-width: 575px) {
        &_item {
            width: 33.3333%;
        }
    }
}
