@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Noto+Serif+TC:wght@200..900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

$text: #333333;
$white: #fff;
$brown: #CA9969;
$brown-2: #9C5C1C;
$primary-50:#FFFAF6;
$primary-100:#FFF1E3;
$primary-200:#FDDFC1;
$primary-300:#E5C099;
$primary-400:$brown;
$primary-500:#B47D46;
$primary-600:#9E6023;
$primary-700:#85490D;
$primary-800:#763B00;
$primary-900:#4A2500;
$dark-50:#F0F0F0;
$dark-100:#DEDEDE;
$dark-200:#C5C5C5;
$dark-300:#ADADAD;
$dark-400:#919191;
$dark-500:#707070;
$dark-600:#515151;
$dark-700:$text;
$dark-800:#202020;
$dark-900:#000000;
$transition: 0.3s;
$body-md: 16px;
$body-lg: 18px;
$serif-md: 700 16px "noto serif TC";
$num-md: 700 20px "Titillium Web", sans-serif;
$body-bold-lg: 700 18px "noto serif TC";
$shadow-common: 0 4px 15px rgba(0,0,0,0.15);
$font-sans: "noto sans TC";
$font-serif: "noto serif TC";
$font-titillium: "Titillium Web", sans-serif;

$banner-ratio: 40%;
$banner-ratio-mobile: 80%;


.banner {
    position: relative;
    width: 100%;
    padding-bottom: $banner-ratio;
    &__pic {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        top: 0;
        left: 0;
    }
    &__text {
        position: absolute;
        top: 6vw;
        left: 50%;
        transform: translateX(-50%);
        max-width: 420px;
        padding: 0 20px;
        text-align: center;
        color: $white;
        .btn {
            margin: 0 auto;
            padding: 12px 45px;
            width: fit-content;
        }
    }
    &__title {
        font-size: 72px;
        font-family: $font-serif;
        font-weight: 700;
        text-shadow: 0 2px 3px rgba(0,0,0,0.3);
        margin-bottom: 24px;
    }
    &__description {
        font-size: 20px;
        font-family: $font-sans;
        text-shadow: 0 2px 3px rgba(0,0,0,0.3);
        margin-bottom: 24px;
    }
    @media screen and (max-width: 991px) {
        padding-bottom: $banner-ratio-mobile;
        &__text {
            top: 12vw;
            width: 100%;
        }
    }
    @media screen and (max-width: 575px) {
        &__text {
            .btn {
                padding: 8px 20px;
            }
        }
        &__title {
            font-size: 40px;
        }
        &__description {
            font-size: 16px;
        }
    }
}