@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Noto+Serif+TC:wght@200..900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");
.header {
  height: 90px;
  background-color: #fff;
  z-index: 100;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.header__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
  height: 100%;
}

.header__logo {
  width: 125px;
}

.header__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

.header__nav ul a {
  font: 700 16px "noto serif TC";
  position: relative;
}

.header__nav ul a::after {
  position: absolute;
  content: "";
  width: 1px;
  background-color: #9E6023;
  top: calc(100% + 12px);
  left: 50%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  height: 0;
}

.header__nav ul a.active, .header__nav ul a:hover {
  color: #9E6023;
}

.header__nav ul a.active::after, .header__nav ul a:hover::after {
  height: 46px;
}

.header__btn {
  padding: 8px 45px;
  background-color: #CA9969;
  color: #fff;
  font-size: 16px;
  font-family: "noto serif TC";
  font-weight: 700;
}

.header__btn:hover {
  background-color: #9E6023;
  color: #fff;
}

.header__func {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 28px;
}

.header__menu {
  width: 30px;
  height: 30px;
  position: relative;
}

.header__menu .bar {
  position: absolute;
  width: 95%;
  height: 1px;
  background-color: #9E6023;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.header__menu .bar-top {
  top: 4px;
}

.header__menu .bar-middle {
  top: calc(50% - 0.5px);
}

.header__menu .bar-bottom {
  top: calc(100% - 5px);
}

.header__menu.active .bar {
  top: 50%;
  left: 50%;
}

.header__menu.active .bar-top, .header__menu.active .bar-middle {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}

.header__menu.active .bar-bottom {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}

@media screen and (max-width: 1199px) {
  .header .container {
    max-width: inherit;
  }
}

@media screen and (max-width: 991px) {
  .header {
    height: 70px;
  }
  .header__nav {
    position: fixed;
    background-color: #fff;
    height: calc(100vh - 70px);
    top: 70px;
    right: 0;
    max-width: 400px;
    width: 100%;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    right: -450px;
  }
  .header__nav ul {
    display: block;
  }
  .header__nav ul a {
    padding: 12px 40px;
  }
  .header__nav ul a::after {
    width: 0;
    height: 1px;
    top: 50%;
    left: -40px;
  }
  .header__nav ul a.active::after, .header__nav ul a:hover::after {
    width: 60px;
    height: 1px;
  }
  .header__nav.active {
    right: 0;
  }
}

@media screen and (max-width: 575px) {
  .header__logo {
    width: 110px;
  }
  .header__btn {
    padding: 8px 20px;
  }
}
/*# sourceMappingURL=header-1.css.map */