@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Noto+Serif+TC:wght@200..900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

$text: #333333;
$white: #fff;
$brown: #CA9969;
$brown-2: #9C5C1C;
$primary-50:#FFFAF6;
$primary-100:#FFF1E3;
$primary-200:#FDDFC1;
$primary-300:#E5C099;
$primary-400:$brown;
$primary-500:#B47D46;
$primary-600:#9E6023;
$primary-700:#85490D;
$primary-800:#763B00;
$primary-900:#4A2500;
$dark-50:#F0F0F0;
$dark-100:#DEDEDE;
$dark-200:#C5C5C5;
$dark-300:#ADADAD;
$dark-400:#919191;
$dark-500:#707070;
$dark-600:#515151;
$dark-700:$text;
$dark-800:#202020;
$dark-900:#000000;
$transition: 0.3s;
$body-md: 16px;
$body-lg: 18px;
$serif-md: 700 16px "noto serif TC";
$num-md: 700 20px "Titillium Web", sans-serif;
$body-bold-lg: 700 18px "noto serif TC";
$shadow-common: 0 4px 15px rgba(0,0,0,0.15);
$font-sans: "noto sans TC";
$font-serif: "noto serif TC";
$font-titillium: "Titillium Web", sans-serif;

.news {
    &__wrapper {
        background-color: $white;
        box-shadow: 0 4px 20px rgba(0,0,0,0.1);
        padding: 40px;
        display: flex;
    }
    &__text {
        width: 250px;
        display: flex;
        flex-direction: column;
        align-content: space-between;
        justify-content: space-between;
        padding: 16px 60px 16px 0;
        border-right: 1px solid #A8A8A8;
        .btn {
            width: fit-content;
            margin: 0 auto;
            padding: 8px 45px;
        }
    }
    &__title {
        font-size: 46px;
        font-family: $font-serif;
        font-weight: 900;
        color: $brown-2;
        margin: 0;
    }
    &__list {
        width: calc(100% - 250px);
        padding: 16px 0 16px 60px;
    }
    &-item {
        margin-bottom: 22px;
        display: flex;
        align-items: center;
        gap: 20px;
        &__date {
            padding: 5px 12px;
            margin: 0;
            background-color: $primary-400;
            color: $white;
            font-family: $font-titillium;
            font-weight: 500;
        }
        &__title {
            margin: 0;
            font: $serif-md;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
            overflow: hidden;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
    @media screen and (max-width: 991px) {
        &__wrapper {
            flex-direction: column;
        }
        &__text {
            width: 100%;
            flex-direction: row;
            padding: 0 0 24px;
            border-right: 0;
            border-bottom: 1px solid #A8A8A8;
            .btn {
                margin: 0;
                padding: 0;
                border: 0;
            }
        }
        &__title {
            font-size: 32px;
        }
        &__list {
            width: 100%;
            padding: 24px 0 0;
        }
    }
     @media screen and (max-width: 991px) {
        &__wrapper {
            padding: 24px;
        }
        &-item {
            gap: 12px;
            &__date {
                font-size: 14px;
            }
        }
     }
}